<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<aside class="sidebar">
    <ul class="no-list sb_top_lv">
        <li><a class="fa fa-windows" href="admin"></a><span>Dashboard</span>
            <ul class="no-list sb_dropdown clearfix">
            </ul>
        </li>
        <li><a class="fa fa-users" href="emp_route"></a><span>Employee</span>
            <ul class="no-list sb_dropdown clearfix">
            </ul>
        </li>
        <li><a class="fa fa-book" href="menu_route"></a><span>Menu</span>
            <ul class="no-list sb_dropdown clearfix">
            </ul>
        </li>
        <li><a class="fa fa-shopping-cart" href="order_route"></a><span>Order</span>
            <ul class="no-list sb_dropdown clearfix">
            </ul>
        </li>
        </ul>
</aside>
